html{
  box-shadow: 2px 7px 10px black;
}
body {
  font-family: Arial;
  width: 300px;
  padding: 10px;
  
}

button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

pre {
  background: #312f2f;
  color: rgb(9, 155, 9);
  padding: 8px;
  border-radius: 6px;
  margin-top: 10px;
  max-height: 200px;
  overflow: auto;
}

p{
  font-size: x-small;
  color: black;
  opacity: 90%;
}

div{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

h1{
  margin: 0;
}